In [1]:
import pandas as pd
import numpy as np

In [270]:
# Make a dataframe from Excel files in the GitHub repo

# Income-per-Capita (individual, not household, median income in the US )
ipc = pd.read_csv("https://raw.githubusercontent.com/brmkim/599GroupRepo/master/income_per_capita.csv")

#Total Import from China to the US in USD
totalImp = pd.read_csv("https://raw.githubusercontent.com/brmkim/599GroupRepo/master/total_import_from_china_to_US.csv")

In [275]:
# Now for the tariff data....
import xlrd 

# Copying the data directly from the source webpage. Saving it to a dataframe
allMeans = pd.read_excel("https://api.worldbank.org/v2/en/indicator/TM.TAX.MRCH.SM.AR.ZS?downloadformat=excel")

In [276]:
allMeans.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-01-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2009.00,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.0
3,Aruba,ABW,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.20,10.13,10.16,NaN,9.77,10.27,9.99,NaN
4,Afghanistan,AFG,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.51,6.47,NaN,NaN,NaN,NaN,NaN
5,Angola,AGO,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.49,7.59,7.58,7.43,7.42,11.19,10.44,10.90,NaN,NaN
6,Albania,ALB,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.71,5.78,2.15,1.65,1.67,1.25,1.24,1.44,1.22,NaN
7,Andorra,AND,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arab World,ARB,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,United Arab Emirates,ARE,"Tariff rate, applied, simple mean, all product...",TM.TAX.MRCH.SM.AR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.28,NaN,4.76,4.35,4.35,4.06,4.03,3.99,4.56,NaN

In [101]:
# From all the rows of countries, we need to look for china
temp = allMeans['Data Source'].str.contains('china', case=False, na=False)

# enumerate temp data frame
for i,v in enumerate(temp):
    if v:
        print(i,v) 
#row 41, 97, 147 is True, that is this row has "China" in the first column

41 True
97 True
147 True

In [ ]:
allMeans.iloc[41,0]  #41st row is "China"
#allMeans.iloc[97,0]  # 97th row is "Hong Kong SAR, China"
#allMeans.iloc[147,0] #147th row is "Macao SAR, China"

In [127]:
# Isolate the column names of the table and its 41th row
tariffTable = allMeans.iloc[2,:]
china = allMeans.iloc[41,:]

# Using python's built-in function type() to find out what type of data
# those two were captured by
type(tariffTable) #pandas.core.series.Series
type(china)#pandas.core.series.Series

pandas.core.series.Series

In [278]:
#combining two series data types into a single dataframe
chinaTariff = pd.concat([tariffTable, china], axis=1).reset_index()

# Deleting the meanningles "index"
del chinaTariff['index']
                
chinaTariff

                2                                                  41
0     Country Name                                              China
1     Country Code                                                CHN
2   Indicator Name  Tariff rate, applied, simple mean, all product...
3   Indicator Code                               TM.TAX.MRCH.SM.AR.ZS
4             1960                                                NaN
5             1961                                                NaN
6             1962                                                NaN
7             1963                                                NaN
8             1964                                                NaN
9             1965                                                NaN
10            1966                                                NaN
11            1967                                                NaN
12            1968                                                NaN
13            1969                                                NaN
14            1970                                                NaN
15            1971                                                NaN
16            1972                                                NaN
17            1973                                                NaN
18            1974                                                NaN
19            1975                                                NaN
20            1976                                                NaN
21            1977                                                NaN
22            1978                                                NaN
23            1979                                                NaN
24            1980                                                NaN
25            1981                                                NaN
26            1982                                                NaN
27            1983                                                NaN
28            1984                                                NaN
29            1985                                                NaN
..             ...                                                ...
33            1989                                                NaN
34            1990                                                NaN
35            1991                                                NaN
36            1992                                              39.71
37            1993                                               37.1
38            1994                                              33.32
39            1995                                                NaN
40            1996                                              22.02
41            1997                                              16.66
42            1998                                              17.08
43            1999                                              16.34
44            2000                                               16.4
45            2001                                              15.39
46            2002                                              12.15
47            2003                                              10.69
48            2004                                               9.81
49            2005                                               9.24
50            2006                                               8.89
51            2007                                               8.93
52            2008                                                8.7
53            2009                                               8.09
54            2010                                               8.09
55            2011                                               8.13
56            2012                                                NaN
57            2013                                                NaN
58            2014                                               7.74
59            2015                                               7.82
60            2016                                               7.88
61            2017                                               8.46
62            2018                                                NaN

[63 rows x 2 columns]

In [302]:
# Deleting the explanatory rows and
# years from 1960 to 1991 because we don't have a tariff data
# for those years
tariff = chinaTariff.drop([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,
                          21,22,23,24,25,26,27,28,29,30,31,32,33,34,35], axis=0)
tariff

      2      41
36  1992  39.71
37  1993   37.1
38  1994  33.32
39  1995    NaN
40  1996  22.02
41  1997  16.66
42  1998  17.08
43  1999  16.34
44  2000   16.4
45  2001  15.39
46  2002  12.15
47  2003  10.69
48  2004   9.81
49  2005   9.24
50  2006   8.89
51  2007   8.93
52  2008    8.7
53  2009   8.09
54  2010   8.09
55  2011   8.13
56  2012    NaN
57  2013    NaN
58  2014   7.74
59  2015   7.82
60  2016   7.88
61  2017   8.46
62  2018    NaN

In [309]:
# Renameing the column names
tariff = tariff.rename(columns={2:'Year', 41:'Tariff'})
tariff

    Year Tariff
36  1992  39.71
37  1993   37.1
38  1994  33.32
39  1995    NaN
40  1996  22.02
41  1997  16.66
42  1998  17.08
43  1999  16.34
44  2000   16.4
45  2001  15.39
46  2002  12.15
47  2003  10.69
48  2004   9.81
49  2005   9.24
50  2006   8.89
51  2007   8.93
52  2008    8.7
53  2009   8.09
54  2010   8.09
55  2011   8.13
56  2012    NaN
57  2013    NaN
58  2014   7.74
59  2015   7.82
60  2016   7.88
61  2017   8.46
62  2018    NaN

In [318]:
### Now that the tariff data is cleaned, merge with other data

# Merging ipc and totalImp dataFrames (Can merge TWO dataFrames at a time)
temp = pd.merge(ipc,totalImp, on="Year")

# Having no error in merging these two dataframes because they are sorted
# from recent years to older (2017 to 1990)

In [319]:
temp

    Year   Population CurrentDollar 2017Dollar      TotalImportUSD
0   2017  323,156,000        34,489     34,489  505,470,000,000.00
1   2016  320,372,000        33,205     33,919  462,542,000,000.00
2   2015  318,868,000        31,653     32,751  483,201,700,000.00
3   2014  316,168,000        30,176     31,276  468,474,900,000.00
4   2013  313,443,000        30,027     31,649  440,430,000,000.00
5   2012  311,116,000        28,281     30,250  425,619,100,000.00
6   2011  308,827,000        27,554     30,097  399,371,200,000.00
7   2010  306,553,000        26,558     29,923  364,952,600,000.00
8   2009  304,280,000        26,530     30,385  296,373,900,000.00
9   2008  301,483,000        26,964     30,775  337,772,600,000.00
10  2007  299,106,000        26,804     31,767  321,442,900,000.00
11  2006  296,824,000        26,352     32,117  287,774,400,000.00
12  2005  293,834,000        25,036     31,502  243,470,100,000.00
13  2004  291,166,000        23,857     31,036  196,682,000,000.00
14  2003  288,280,000        23,276     31,098  152,436,100,000.00
15  2002  285,933,000        22,794     31,145  125,192,600,000.00
16  2001  282,082,000        22,851     31,716  102,278,400,000.00
17  2000  279,517,000        22,346     31,898  100,018,200,000.00
18  1999  276,804,000        21,239     31,346   81,788,200,000.00
19  1998  271,743,000        20,120     30,327   71,168,600,000.00
20  1997  269,094,000        19,241     29,395   62,557,700,000.00
21  1996  266,792,000        18,136     28,306   51,512,800,000.00
22  1995  264,314,000        17,227     27,603   45,543,200,000.00
23  1994  262,105,000        16,555     27,165   38,786,800,000.00
24  1993  259,753,000        15,777     26,429   31,539,900,000.00
25  1992  256,830,000        14,847     25,498   25,727,500,000.00
26  1991  251,434,000        14,617     25,728   18,969,200,000.00
27  1990  248,886,000        14,387     26,244   15,237,400,000.00

In [342]:
# temp needs to be sorted from low to high number of year to be merged with 
# tariff dataframe

#### creating reversing function:  [Prof Magallanes' function]
def reverse(aColumn):
    return max(aColumn) - aColumn + min(aColumn)   # I see what he did!

# Sorting the years using the reverse function 
temp['Year'] = reverse(temp.Year)
temp

    Year   Population CurrentDollar 2017Dollar      TotalImportUSD
0   2017  323,156,000        34,489     34,489  505,470,000,000.00
1   2016  320,372,000        33,205     33,919  462,542,000,000.00
2   2015  318,868,000        31,653     32,751  483,201,700,000.00
3   2014  316,168,000        30,176     31,276  468,474,900,000.00
4   2013  313,443,000        30,027     31,649  440,430,000,000.00
5   2012  311,116,000        28,281     30,250  425,619,100,000.00
6   2011  308,827,000        27,554     30,097  399,371,200,000.00
7   2010  306,553,000        26,558     29,923  364,952,600,000.00
8   2009  304,280,000        26,530     30,385  296,373,900,000.00
9   2008  301,483,000        26,964     30,775  337,772,600,000.00
10  2007  299,106,000        26,804     31,767  321,442,900,000.00
11  2006  296,824,000        26,352     32,117  287,774,400,000.00
12  2005  293,834,000        25,036     31,502  243,470,100,000.00
13  2004  291,166,000        23,857     31,036  196,682,000,000.00
14  2003  288,280,000        23,276     31,098  152,436,100,000.00
15  2002  285,933,000        22,794     31,145  125,192,600,000.00
16  2001  282,082,000        22,851     31,716  102,278,400,000.00
17  2000  279,517,000        22,346     31,898  100,018,200,000.00
18  1999  276,804,000        21,239     31,346   81,788,200,000.00
19  1998  271,743,000        20,120     30,327   71,168,600,000.00
20  1997  269,094,000        19,241     29,395   62,557,700,000.00
21  1996  266,792,000        18,136     28,306   51,512,800,000.00
22  1995  264,314,000        17,227     27,603   45,543,200,000.00
23  1994  262,105,000        16,555     27,165   38,786,800,000.00
24  1993  259,753,000        15,777     26,429   31,539,900,000.00
25  1992  256,830,000        14,847     25,498   25,727,500,000.00
26  1991  251,434,000        14,617     25,728   18,969,200,000.00
27  1990  248,886,000        14,387     26,244   15,237,400,000.00

In [356]:
# temp.info()  # temp is a dataframe and 'Year' data is int64
#tariff.info()  # tariff is also a dataframe and 'Year' data is object

## Making temp all temp data into object
temp = temp.astype(object)
temp.info()

# Merge the temp and tariff dataframe
merged = pd.merge(temp, tariff, on="Year")
merged

# Now all data is object. Let's see how it'll works later on...

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 0 to 27
Data columns (total 5 columns):
Year              28 non-null object
Population        28 non-null object
CurrentDollar     28 non-null object
2017Dollar        28 non-null object
TotalImportUSD    28 non-null object
dtypes: object(5)
memory usage: 2.6+ KB

    Year   Population CurrentDollar 2017Dollar      TotalImportUSD Tariff
0   2017  323,156,000        34,489     34,489  505,470,000,000.00   8.46
1   2016  320,372,000        33,205     33,919  462,542,000,000.00   7.88
2   2015  318,868,000        31,653     32,751  483,201,700,000.00   7.82
3   2014  316,168,000        30,176     31,276  468,474,900,000.00   7.74
4   2013  313,443,000        30,027     31,649  440,430,000,000.00    NaN
5   2012  311,116,000        28,281     30,250  425,619,100,000.00    NaN
6   2011  308,827,000        27,554     30,097  399,371,200,000.00   8.13
7   2010  306,553,000        26,558     29,923  364,952,600,000.00   8.09
8   2009  304,280,000        26,530     30,385  296,373,900,000.00   8.09
9   2008  301,483,000        26,964     30,775  337,772,600,000.00    8.7
10  2007  299,106,000        26,804     31,767  321,442,900,000.00   8.93
11  2006  296,824,000        26,352     32,117  287,774,400,000.00   8.89
12  2005  293,834,000        25,036     31,502  243,470,100,000.00   9.24
13  2004  291,166,000        23,857     31,036  196,682,000,000.00   9.81
14  2003  288,280,000        23,276     31,098  152,436,100,000.00  10.69
15  2002  285,933,000        22,794     31,145  125,192,600,000.00  12.15
16  2001  282,082,000        22,851     31,716  102,278,400,000.00  15.39
17  2000  279,517,000        22,346     31,898  100,018,200,000.00   16.4
18  1999  276,804,000        21,239     31,346   81,788,200,000.00  16.34
19  1998  271,743,000        20,120     30,327   71,168,600,000.00  17.08
20  1997  269,094,000        19,241     29,395   62,557,700,000.00  16.66
21  1996  266,792,000        18,136     28,306   51,512,800,000.00  22.02
22  1995  264,314,000        17,227     27,603   45,543,200,000.00    NaN
23  1994  262,105,000        16,555     27,165   38,786,800,000.00  33.32
24  1993  259,753,000        15,777     26,429   31,539,900,000.00   37.1
25  1992  256,830,000        14,847     25,498   25,727,500,000.00  39.71